#Container {
  & {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4D0186;
    color: #FDFDFD;
    user-select: none;
    transition: filter .2s;

    &:hover {
      cursor: pointer;
      filter: brightness(80%);
    }

    &.ContainerDisabled {
      filter: brightness(80%);

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}