$BREAKPOINT_XS: 480;
$BREAKPOINT_SM: 576;
$BREAKPOINT_MD: 768;
$BREAKPOINT_LG: 992;
$BREAKPOINT_XL: 1366;
$BREAKPOINT_XXL: 1600;

$media-xs: 480px;
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1366px;
$media-xxl: 1600px;