#Container {
  & {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
  
    width: 100%;
    max-width: 1500px;
    padding: 20px;
    z-index: 8;
    position: fixed;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  
    transition: background-color .2s;
  
    &.ContainerSticky {
      backdrop-filter: blur(30px);
      background-color: rgba(22,4,46,0.87);
      border-bottom: 2px solid #4D0186;
    }
  }

  .Logo {
    width: 60px;
  }

  .InLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}